<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <div class="navbar">
        <div id="logo_head">
            <div id="bg-color">
                <p>Cryptop</p>
            </div>
        </div>

        <div id="navbar_list">
            <ul>
                <li><a href="#website5.html" style="text-decoration: underline;">Home</a></li>
                <li><a href="#website5.html">About</a></li>
                <li><a href="#website5.html">How</a></li>
                <li><a href="#website5.html">Wallet</a></li>
                <li><a href="#website5.html">Login</a></li>
                <li><a href="#website5.html">Sign Up</a></li>
                <li><a href="#website5.html"><img src="images website5/search.png"></a></li>
            </ul>
        </div>
    </div>

    <div class="header">
        <div id="head1">
            <h1>Digital Currency</h1>
        </div>

        <div id="head2">
            <h2>The Future of Trading.</h2>
        </div>

        <div id="header_button">
            <a href="#website5.html">Get Started</a>
        </div>

        <div id="header_img">
            <img src="images website5/slider-img.png">
        </div>
    </div>

    <div class="body">
        <h1>How It works ?</h1>

        <div class="fullbox">
            <div class="box col4">
                <div>
                    <img src="images website5/traders.png">

                    <h3>Traders and investors</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </div>

            <div class="box col4">
                <div>
                    <img src="images website5/exchanges.png">

                    <h3>Exchanges</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </div>

            <div class="box col4">
                <div>
                    <img src="images website5/miners.jpg">

                    <h3>Miners</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </div>

            <div id="box1">
                <div class="box">
                    <img src="images website5/payments.png">

                    <h3>Payments</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </div>
        </div>

        <div class="body_button">
            <a href="#website5.html">Read More</a>
        </div>

        <div id="body_2">
            <h1>About Cryptop</h1>

            <div id="body_img">
                <img src="images website5/about-img.png">
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
        </div>

        <div class="body_button">
            <a href="#website5.html">Read More</a>
        </div>

        <div class="body_3">
            <div id="body_3_head1">
                <h1>Our Powerful app to connect it all</h1>
            </div>
    
            <div id="bodytext_3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            
            <div id="download">
                <div id="download_text">
                    <p>Download Now</p>
                </div>
                <div id="download_button">
                    <a href="#website5.html"><img src="images website5/app-store.png"></a>
                    <a href="#website5.html"><img src="images website5/play-store.png"></a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>