<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <title>Document</title>
</head>

<body>

    <div class="row navbar col12">
        <div class="logo">
            <img src="shabjiwala img/Sabjiwala_Logo.png">
        </div>
        <ul>
            <li><a href="#shabjiwala.html">Login / Sign Up</a></li>
            <li><a href="#shabjiwala.html">Cart</a></li>
        </ul>
    </div>

    <div class="row header col12">
        <div class="header-img">
            <img src="shabjiwala img/Shabji-1.jpg">
        </div>

        <div class="header-list">
            <ul>
                <li><a href="#shabjiwala.html">VEGETABLES</a></li>
                <li><a href="#shabjiwala.html">FRUITS</a></li>
                <li><a href="#shabjiwala.html">ORGANIC</a></li>
                <li><a href="#shabjiwala.html">EXOTIC SABJI</a></li>
                <li><a href="#shabjiwala.html">CHOPPED VEGETABLES</a></li>
                <li><a href="#shabjiwala.html">OTHER</a></li>
            </ul>
        </div>
    </div>

    <div class="vegetable row col12">
        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/potato.jpg">
                </div>
                <div class="vegetable-description">
                    <p>AALU - POTATO (BATAKA)-SMALL DUMAALU</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/potato-new.jpg">
                </div>
                <div class="vegetable-description">
                    <p>AALU - POTATO -NEW REGULAR</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/beans.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BEANS PAPDI (VALOR PAPDI)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/beans papdi.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BEANS PAPDI - SURTI</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/beetroot.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BEET ROOT</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/bhinda.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BHINDA</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/karela.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BITTER GOURD (KARELA)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/dudh-lauki.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BOTTLE GOURD / DUDHI-LAUKI</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/brinjal-black.png">
                </div>
                <div class="vegetable-description">
                    <p>BRINJAL -BLACK (BAINGAN BHARITH)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/brinjal-ravaiya.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BRINJAL- RAVAIYA (SMALL GREEN)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/brinjal-regular-pink.jpg">
                </div>
                <div class="vegetable-description">
                    <p>BRINJAL-REGULAR-PINK (BAINGAN-GULAABI)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/cabbage.jpg">
                </div>
                <div class="vegetable-description">
                    <p>CABBAGE - PATTA GOBI</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        
        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/capsicum.jpg">
                </div>
                <div class="vegetable-description">
                    <p>CAPSICUM / SIMLA MIRCH</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/carrot.jpg">
                </div>
                <div class="vegetable-description">
                    <p>CARROT (GAJAR)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="vegetable-box col4">
            <div class="vegetable-content">
                <div class="vegetable-image">
                    <img src="shabjiwala img/cauliflower.jpg">
                </div>
                <div class="vegetable-description">
                    <p>CAULIFLOWER (FLOWER GOBI)</p>
                    <input type="text">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer col12">
        <div class="social">
            <p>Our Social Media Handles</p>
        </div>

        <div class="col12 footer1">
            <div class="col2">
                <h4>SHABJIWALA.COM</h4>
                <img src="shabjiwala img/Sabjiwala_Logo.png">
                <p>स्वच्छ - स्वस्थ - सस्ता</p>
            </div>

            <div class="col2">
                <h4 style="text-align: left; padding: 0px 0px 40px 200px;">CONTACT</h4>
                <div class="footer-list">
                    <ul>
                        <li>ALIEN COMPLEX , AXISBANK WALA BUILDING, BESIDE ICICI BANK, NEAR MEHASANA NAGAR CHAR
                            RASTA, DELUX , NIZAMPURA, VADODRA - 390002</li>
                        <li>shabjiwala.com@gmail.com</li>
                        <li>For Franchise Call At : 93282-39000</li>
                        <li>For Order Call At : 63-5880-5880</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer2">
            <p>© 2019 Copyright: <a href="#shabjiwala.html">Soni India Infotech</a></p>
        </div>
    </div>
</body>

</html>