<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <title>Document</title>
</head>
<body>
    <div class="heading">
        <p id="head_text">REALISTIC</p>
        <p class="sub_heading">FREE WEBSITE TEMPLATE</p>

        <div class="text_color" id="nav1">
            <p>Tel: xxxxx xxxxxxxxxx | Mail: info@domain.com</p>
        </div>

        <div id="nav1_search_button">
            <h3><a href="#website3.html">SEARCH</a></h3>
        </div>

        <div id="nav1_search">
            <p>Search Our Website...</p>
        </div>

        <div id="nav2">
            <ul>
                <li><a style="color: #999999;" href="#website3.html">HOMEPAGE</a></li>
                <li><a href="#website3.html">STYLE DEMO</a></li>
                <li><a href="#website3.html">FULL WIDTH</a></li>
                <li><a href="#website3.html">DROPDOWN</a></li>
                <li><a href="#website3.html">PORTFOLIO</a></li>
                <li><a href="#website3.html">GALLERY</a></li>
            </ul>
        </div>
    </div>

    <div id="white_box">
        <div class="col12">
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>This is a W3C standards compliant free website template from OS Templates. This template is distributed using a Website Template Licence.</p>
            </div>
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
            </div>
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>For more CSS templates visit Free Website Templates. Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum.</p>
            </div>
        </div>

        <div class="col12">
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            </div>
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            </div>
            <div class="col4 box1">
                <img src="images website3/icon.png">
                <p id="box1_heading">Lorum ipsum dolor</p>
                <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            </div>
        </div>
    </div>

    <div class="col12 fullbox2">
        <div class="col4 box2">
            <div>
                <img src="images website3/img1.jpg">
                <div class="box2_heading">
                    <p>Lorem ipsum dolor</p>
                </div>
                <p id="box2_p">Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>   
            </div>
        </div>

        <div class="col4 box2">
            <div>
                <img src="images website3/img1.jpg">
                <div class="box2_heading">
                    <p>Lorem ipsum dolor</p>
                </div>
                <p id="box2_p">Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>   
            </div>
        </div>

        <div class="col4 box2">
            <div>
                <img src="images website3/img1.jpg">
                <div class="box2_heading">
                    <p>Lorem ipsum dolor</p>
                </div>
                <p id="box2_p">Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>   
            </div>
        </div>
    </div>

    <div class="col12 fullbox3">
        <div class="col6 box3">
            <div class="col12">
                <div class="box3_heading_1">
                    <p>Latest Projects</p>
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
            </div>

            <div class="col12">
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
                <div class="col3 box3_img">
                    <img src="images website3/logo1.jpg">
                </div>
            </div>
        </div>

        <div class="col6 box3">
            <div class="col6 padding">
                <div class="box3_heading">
                    <p>Latest From The Blog</p>
                </div>   
                <ul>
                    <li><a href="#website3.html">Lorem ipsum dolor</a></li>
                    <li><a href="#website3.html">Suspendisse in neque</a></li>
                    <li><a href="#website3.html">Praesent et eros</a></li>                
                    <li><a href="#website3.html">Lorem ipsum dolor</a></li>
                    <li><a href="#website3.html">Suspendisse in neque</a></li>
                    <li><a href="#website3.html">Praesent et eros</a></li>                
                </ul>
            </div>

            <div class="col6 padding">
                <div class="box3_heading">
                    <p>Keep In Touch</p>
                </div>
                <ul>
                    <li><a href="#website3.html">Lorem ipsum dolor</a></li>
                    <li><a href="#website3.html">Suspendisse in neque</a></li>
                    <li><a href="#website3.html">Praesent et eros</a></li>                
                    <li><a href="#website3.html">Lorem ipsum dolor</a></li>
                    <li><a href="#website3.html">Suspendisse in neque</a></li>
                    <li><a href="#website3.html">Praesent et eros</a></li>                
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <div id="li1">
                <li>Copyright © 2014 - All Rights Reserved - Domain Name</li>
            </div>

            <div id="li2">
                <li>Template by OS Templates</li>
            </div>
        </ul>
    </div>
</body>
</html>