<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <div id="navbar">
        <img src="images website4/default-logo.png">
    </div>

    <div id="body" class="font_head">
        <div class="sub_heading">
            <p>FEATURES</p>
        </div>

        <div class="heading">
            <h1>Our Features & Services.</h1>
        </div>

        <div class="fullbox">
            <div class="col4">
                <div class="box">
                    <img src="images website4/img1.jpg">
                    <h2>Communications</h2>
                    <div class="body_text">
                        <p>Pretium lectus quam id leo in vitae turpis. Mattis pellentesque id nibh tortor id.</p>
                    </div>
                    <div class="body_button">
                        <a href="#website4.html">MORE</a>
                    </div>
                </div>
            </div>

            <div class="col4">
                <div class="box">
                    <div>
                        <img src="images website4/img2.jpg">
                        <h2>Inspired Design</h2>
                        <div class="body_text">
                            <p>Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Risus feugiat.</p>
                        </div>
                        <div class="body_button">
                            <a href="#website4.html">MORE</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col4">
                <div class="box">
                    <div>
                        <img src="images website4/img3.jpg">
                        <h2>Happy Customers</h2>
                        <div class="body_text">
                            <p>Nisl purus in mollis nunc sed id semper. Rhoncus aenean vel elit scelerisque mauris.</p>
                        </div>
                        <div class="body_button">
                            <a href="#website4.html">MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="small_text">
            <p>Image from <a href="#website3.html">Freepik</a></p>
        </div>
    </div>

    <div class="footer">
        <p>Sample text. Click to select the text box. Click again or double <br>
             click to start editing the text.</p>

        <div id="footer_link">
            <p><a href="#website3.html">Website Templates</a> created with <a href="#website3.html">Website Builder Software</a>.</p>
        </div>
    </div>
</body>
</html>