<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <div class="training">
        <div class="title">
            <h2 style="margin: 30px 0px;">What is your preferred mode and style of learning???</h2>
        </div>
        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col3">
            <div class="training_content">
                <img src="OWT img/master.jpg">
                <p>Master Training</p>
                <div class="training_content_1">
                    <div class="training_content_1_text">
                        <p>Training</p>
                    </div>
                    <div class="training_content_1_btn">
                        <a href="#OWT.html">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="button">
            <p>More Details</p>
        </div>
    </div>

    <div>

    </div>
</body>
</html>