<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <title>Registration Form</title>
</head>

<body>
    <div class="row form">
        <div class="col12 form-container">
            <div class="navbar">
                <div class="logo">
                    <img src="registration form img/logo.png">
                </div>

                <div class="navbar-text">
                    <h2>Class Registration</h2>
                    <p>Fill out the form carefully for registration</p>
                </div>
            </div>

            <div class="form-box">
                <div class="col6">
                    <form action="">
                        <div class="item">
                            <label for="fname">First Name : </label>
                            <input type="text" id="fname" placeholder="Enter First Name" required>
                        </div>

                        <div class="item">
                            <label for="lname">Last Name : </label>
                            <input type="text" id="lname" placeholder="Enter Last Name">
                        </div>

                        <div class="item">
                            <label for="pwd">Password : </label>
                            <input type="password" id="pwd" required>
                        </div>

                        <div class="item">
                            <label for="bday">Birthdate : </label>
                            <input type="date" id="bday">
                        </div>

                        <div class="item">
                            <label for="">Choose your subject : </label>
                            <label for="maths">Maths</label>
                            <input type="checkbox" id="maths">

                            <label for="physics">Physics</label>
                            <input type="checkbox" id="physics">
                        </div>

                        <div class="item">
                            <label for="gender">Gender : </label>
                            <label for="male">Male</label>
                            <input type="radio" id="male" name="gender">

                            <label for="female">Female</label>
                            <input type="radio" id="female" name="gender">
                        </div>

                        <div class="item">
                            <div class="reg_btn">
                                <button type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col6">
                    <div class="form-img">
                        <img src="registration form img/signup-image.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>