<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <p><a href="#website2.html">LOGO</a></p>
        </div>

        <div class="navbar_list">
            <ul>
                <li><a href="#website2.html">Home</a></li>
                <li><a href="#website2.html">Products</a></li>
                <li><a href="#website2.html">Services</a></li>
                <li><a href="#website2.html">My Account</a></li>
                <li><a href="#website2.html">My Cart</a></li>
            </ul>
        </div>
    </div>

    <div class="body1">
        <img src="images website2/icon.png">
        <h1>Dramatically Engage</h1>
        <p>Objectively innovate empowered manufactured products whereas parallel platforms</p>
            <div id="button">
                <a href="#website2.html">Engage Now</a>
            </div>
    </div>

    <div class="body2">
        <h1>Superior Quality</h1>
        <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>  
    </div>

    <div class="col12 fullbox1">
        <div class="col4 box1 bg-cyan"><h1>Unleash</h1></div>
        <div class="col4 box1 bg-gold"><h1>Synergize</h1></div>
        <div class="col4 box1 bg-coral"><h1>Procrastinate</h1></div>
    </div>

    <div class="col12 fullbox2">
        <h1 style=>World Class Products</h1>
        <div class="col3 box2"><img src="images website2/pepper.jpg">
            <h3>Premium Niche</h3> <br>

            <p>
            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
            </p> <br>
            
            <h3>$10.45</h3>

            <div id="box2_quant">
                <p>1</p>
            </div>

            <div id="box2_button">
                <p>Add to Cart</p>
            </div>
        </div>
        <div class="col3 box2"><img src="images website2/jars.jpg">
            <h3>Handy Holistic</h3> <br>

            <p>
            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
            </p> <br>
            
            <h3 id="strike_price">$24.99</h3><h3>$18.99</h3>

            <div id="box2_quant">
                <p>1</p>
            </div>

            <div id="box2_button">
                <p>Add to Cart</p>
            </div>
        </div>
        <div class="col3 box2"><img src="images website2/pot.jpg">
            <h3>Seamless Strategic</h3> <br>

            <p>
            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
            </p> <br>
            
            <h3>$11.50</h3>

            <div id="box2_quant">
                <p>1</p>
            </div>

            <div id="box2_button">
                <p>Add to Cart</p>
            </div>
        </div>
        <div class="col3 box2"><img src="images website2/teapot.jpg">
            <h3>Maintained Strip</h3> <br>

            <p>
            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
            </p> <br>
            
            <h3>$45.50</h3>

            <div id="box2_quant">
                <p>1</p>
            </div>

            <div id="box2_button">
                <p>Add to Cart</p>
            </div>
        </div>
    </div>

    <div class="body2">
        <h1>Unparalleled Service</h1>
        <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>
        
        <img src="images website2/service.jpg">

        <h1>Find Us</h1>
        <img src="images website2/city_map.jpg" style="height: 500px; width: 100%; border-radius: 0;">
        <p>31 Spooner Street, Quahog, Rhode Island</p> <br><br>

        <h1>Contact Us</h1>
        <p>+1(23) 456 7890</p>
        <p>info@example.com</p>
    </div>

    <div class="col12 footer">
        <div class="col4 box3">
            <ul>
                <p>Information<p><br>
                <li><a href="#website2.html">About Us</a></li>
                <li><a href="#website2.html">Customer Service</a></li>
                <li><a href="#website2.html">Privacy Policy</a></li>
                <li><a href="#website2.html">Sitemap</a></li>
                <li><a href="#website2.html">Orders & Returns</a></li>
            </ul>
        </div>
        <div class="col4 box3">
            <ul>
                <p>My Account</p><br>
                <li><a href="#website2.html">Sign In</a></li>
                <li><a href="#website2.html">View Cart</a></li>
                <li><a href="#website2.html">My Wishlist</a></li>
                <li><a href="#website2.html">Track My Order</a></li>
                <li><a href="#website2.html">Help</a></li>
            </ul>
        </div>
        <div class="col4 box3">
            <ul>
                <p>Newsletter</p><br>
                <li style="color: #959595;">Sign up for exclusive offers.</li>
            </ul>
            <div id="footer_text">
                <p>Enter your email address</p>
            </div>
            <div id="footer_button">
                <p>Subscribe!</p>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 30px;">
        <ul class="footer_list">
            <li style="color: #959595;"> <a href="#website1.html">Terms & Conditions</a> |</li>
            <li style="color: #959595;"> <a href="#website1.html">Privacy Policy</a> |</li>
            <li style="color: #959595;"> <a href="#website1.html">Contact</a> </li>
        </ul>

        <p style="font-size: 14px; color: #959595; text-align: center;">Copyright © Example.com 2015</p>
    </div>
</body>
</html>