<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <div class="nav">
        <div class="ul">
            <div id="logo">
                <img src="images website1/logo1.png" id="logo">
            </div>
            <ul>
                <li><a href="#website1.html">Home</a></li>
                <li><a href="#website1.html">About</a></li>
                <li><a href="#website1.html">Products</a></li>
                <li><a href="#website1.html">Services</a></li>
            </ul>
        </div>

        <div class="search_box">
            <div id="box"></div>
            <div id="search"><p style="text-align: center; padding: 7px;">Search</p></div>
        </div>
    </div>

    <div class="intro">
        <div id="text">
            <p style="font-size: 63px;">Dramatically Engage</p> <br>
            <p style="font-size: 21px;">Objectively innovate empowered manufactured products whereas parallel platforms.</p>
        </div>

        <div id="button">
            <div id="button_text">
                <p>Engage Now</p>
            </div>
        </div>
    </div>

    <div class="body">
        <div id="head">
            <h1>Superior Collaboration</h1>
            <h3 style="color: #777777;">Visualize Quality</h3>
        </div>
        <div id="body">
            <p class="p">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
        </div>
    </div>

    <div class="col12 fullbox">
        <div class="padding col4">
            <img src="images website1/img1.jpg" class="body_img">
                <div class="body_link">
                    <a href="#website1.html">Efficiently Unleash</a>
                </div>
            <div>
                <p class="p">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
        </div>
        <div class="padding col4">
            <img src="images website1/img1.jpg" class="body_img">
                <div class="body_link">
                    <a href="#website1.html">Completely Synergize</a>
                </div>
            <div>
                <p class="p">Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas</p>
            </div>
        </div>
        <div class="padding col4">
            <img src="images website1/img1.jpg" class="body_img">
                <div class="body_link">
                    <a href="#website1.html">Dynamically Procrastinate</a>     
                </div>
            <div>
                <p class="p">Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            </div>
        </div>   
    </div>

    <div class="col12 fullbox bg" style="padding-top: 50px;">
        <div class="padding col4">
            <img src="images website1/logo2.jpg" class="footer_img">
                <div class="body_link"> 
                    <p style="font-size: 24px;">Dynamically Procrastinate<p> 
                </div>
            <div>
                <p class="p_footer">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            <div class="footer_button">
                <p>Procrastinate</p>
            </div>
        </div>
        <div class="padding col4">
            <img src="images website1/logo2.jpg" class="footer_img">
                <div class="body_link">
                    <p style="font-size: 24px;">Efficiently Unleash</p>
                </div>
            <div>
                <p class="p_footer">Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas</p>
            </div>
            <div class="footer_button" style="margin-top: 25px; margin-left: 130px;">
                <p>Unleash</p>
            </div>
        </div>
        <div class="padding col4">
            <img src="images website1/logo2.jpg" class="footer_img">
                <div class="body_link">
                    <p style="font-size: 24px;">Completely Synergize</p>    
                </div>
            <div>
                <p class="p_footer">Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            </div>
            <div class="footer_button" style="margin-left: 130px;">
                <p>Synergize</p>
            </div>
        </div>   
    </div>

    <div style="padding-bottom: 30px;">
        <ul class="footer_list">
            <li style="color: #959595;"> <a href="#website1.html">Terms & Conditions</a> |</li>
            <li style="color: #959595;"> <a href="#website1.html">Privacy Policy</a> |</li>
            <li style="color: #959595;"> <a href="#website1.html">Contact</a> </li>
        </ul>

        <p style="font-size: 14px; color: #959595; text-align: center;">Copyright © Example.com 2015</p>
    </div>
</body>
</html>